appdirs==1.4.4
asgiref==3.2.10
attrs==20.3.0
Automat==20.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
beeply==1.0.2
bokeh==2.2.3
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.4
comtypes==1.1.7
constantly==15.1.0
cryptography==3.2.1
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.2
django-widget-tweaks==1.4.8
docopt==0.6.2
face-recognition-models==0.3.0
filelock==3.0.12
gunicorn==20.0.4
h5py==3.1.0
hyperlink==20.0.1
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
incremental==17.5.0
itemadapter==0.2.0
itemloaders==1.0.3
Jinja2==2.11.2
jmespath==0.10.0
Js2Py==0.70
Keras==2.4.3
keras-embed-sim==0.8.0
kiwisolver==1.3.1
lxml==4.6.1
MarkupSafe==1.1.1
moviepy==1.0.3
numpy==1.19.3
opencv-camera==0.10.6
opencv-python==4.4.0.46
packaging==20.4
panda==0.3.1
pandas==1.1.4
paramiko==2.7.2
parsel==1.6.0
phonenumbers==8.12.11
Pillow==8.0.0
pipwin==0.5.0
playsound==1.2.2
proglog==0.1.9
psycopg2==2.8.6
PyAudio @ file:///C:/Users/SYLVA/Desktop/My%20python%20versions/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
pycparser==2.20
PyDispatcher==2.0.5
pyFirmata==1.1.0
pyglet==1.5.8
PyHamcrest==2.0.2
pyjsparser==2.7.1
PyJWT==1.7.1
PyNaCl==1.4.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pypiwin32==223
PyPrind==2.11.2
pyserial==3.4
pySmartDL==1.3.4
python-dateutil==2.8.1
python-wifi==0.6.1
pyttsx3==2.90
pytz==2020.1
pywin32==228
PyYAML==5.3.1
queuelib==1.5.0
requests==2.24.0
scipy==1.5.4
selenium==3.141.0
simplejson==3.17.2
six==1.15.0
slurm==0.4.4
soupsieve==2.0.1
SpeechRecognition==3.8.1
sqlparse==0.4.1
tornado==6.1
tqdm==4.51.0
twilio==6.46.0
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.25.11
virtualenv==20.1.0
w3lib==1.22.0
whitenoise==5.2.0
wikipedia==1.4.0
zope.interface==5.2.0
